* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #434343;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.container {
  min-height: 100vh;
}

/* mix */
.text-uppercase {
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #000;
  padding: 0 20px;
}

header .logo {
  width: 150px;
  border: 0;
}
